
<div class="row">
    <div  class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Avarage of all results</h5>
          <p class="card-text">{{scores}}%</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Avarage of all durations</h5>
            <p class="card-text">{{durations}}</p>
          </div>
        </div>
      </div>
  </div>
